
@{
    ViewBag.Title = "Main Index";
}

    <h2>Dam Digital Training Project</h2>
    <h3>HTTP Forms</h3>

    <h4>Completed Tasks</h4>

    <ul>
        <li>@Html.ActionLink("Task 1:", "SimpleForm", "Home") Post form data to Action with Form Collection/ Request</li>
        <li>@Html.ActionLink("Task 2:", "Razor", "Home") Use Razor syntax</li>
        <li>@Html.ActionLink("Task 3:", "UserForm", "Home") Write up a form using a view model</li>
        <li>@Html.ActionLink("Task 4:", "Index", "Movie") Movie Database</li>
        <li>@Html.ActionLink("Task 5:", "Index", "Member") Membership Form</li>
        <li>@Html.ActionLink("Task 6:", "Client", "Home") Client Side Validation</li>
    </ul>

